body{
    background: #ffdc73;
}

header{
    background-color: #a67c00;
    color:white;
}

nav ul li a{
    color: white;
}

nav ul li a:hover{
    background-color: #bf9b30;
    color: white;
}

#container{
    border-color: #a67c00;
}

::selection {
    background: #FF7D00;
}

footer{
    font-weight: bold;
    background-color: #a67c00;
    color:white;
}

.referencias a{
    color: #bf9b30;
}