body{
    background: #fdffb6;
}

header{
    background-color: #ffd000;
    color:white;
}

nav ul li a{
    color: white;
}

nav ul li a:hover{
    background-color: #ffea00;
    color: white;
}

#container{
    border-color: #FF7D00;
}

::selection {
    background: #FF7D00;
}

footer{
    font-weight: bold;
    background-color: #ffd000;
    color:white;
}

.referencias a{
    color: #FF7D00;
}