body{
    background: #e9ecef;
}

header{
    background-color: #212529;
    color:white;
}

nav ul li a{
    color: white;
}

nav ul li a:hover{
    background-color: #adb5bd;
    color: white;
}

#container{
    border-color: #212529;
}

::selection {
    background: #FF7D00;
}

footer{
    font-weight: bold;
    background-color: #212529;
    color:white;
}

.referencias a{
    color: #adb5bd;
}